<header class="site-header">
  <div class="wrapper">
    <a class="header_title" href="/">
      qi<span style="color: var(--highlight-color)">.</span>
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>

      <div class="menu">
        {% for page in site.header.pages %}
          {% if page.slug and page.slug != "" and page.slug != nil %}
            {% assign page_link = page.slug %}
          {% else %}
            {% assign page_link = "/" | append: page.name | downcase %}
          {% endif %}
          {% assign page_link = page_link | absolute_url %}
          <a class="page-link" href="{{ page_link }}">
            {{ page.name }}
          </a>
        {% endfor %}

        <a href="https://github.com/qi-yu" target="_blank" style="padding-left: 2em"><i class="fa-brands fa-github animated-icon"></i></a>
        <a href="mailto:qi.yu@uni-konstanz.de" style="padding-left: 0.5em"><i class="fa-solid fa-envelope animated-icon"></i></a>

      </div>
    </nav>
  </div>
</header>
