body {
    font-family: 'Helvetica', sans-serif;
    font-size: 13pt;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 13pt;
}

.header_title {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    color: #111
}

.page-heading {
    font-size: 18pt;
    text-align: center;
}

.headsec {
    font-weight: 700;
}

.headspan {
    font-weight: 700;
    font-size: 12pt;
}

.headspan2 {
    font-weight: 700;
}

.me, .title, .menu {
    font-weight: 600;
}

.special {
    font-weight: 600;
    color: #808B96;
}

ul li {
    margin-bottom: 1rem;
}

ul.subproject {
    margin-bottom: 0rem;
}

.subproject li {
    margin-bottom: 0rem;
}

.wrapper {
    max-width: 1000px;
}

.center-container {
  display: flex;
  flex-direction: column;  /* Stack content vertically */
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  text-align: center;
  height: 100vh;           /* Full viewport height */
  margin-bottom: 5em;
}

.profile-pic {
  width: 30%;
}

.text-block {
    margin-bottom: 2%;
}

.item {
    margin-bottom: 2rem;
  }

.accordion {
    background-color: #f0f0f0;
    font-weight: 700;
    font-size: 12pt;
    padding: 0.5em;
}

.accordion:hover {
  cursor: pointer;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #808B96;
  margin-right: 5px;
  transition: transform 0.3s ease-out;
}

.triangle-rotate {
  transform: rotate(90deg);
}

.description {
    display: none;
    margin-top: 1em;
}

/* On mobile devices */
@media (max-width: 767px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .wrapper {
    max-width: 850px;
  }

  .profile-pic {
      width: 60%;
  }
}