body {
    font-family: 'Helvetica', sans-serif;
    font-size: 11pt;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
}

h3 {
    font-size: 13pt;
}

.header_title {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    color: #111
}

.page-heading {
    color: #808B96;
    font-size: 18pt;
}

.headsec {
    font-weight: 700;
}

.headspan {
    font-weight: 700;
    font-size: 12pt;
}

.headspan2 {
    font-weight: 700;
}

.me, .title, .menu {
    font-weight: 600;
}

.special {
    font-weight: 600;
    color: #808B96;
}

ul li {
    margin-bottom: 1rem;
}

ul.subproject {
    margin-bottom: 0rem;
}

.subproject li {
    margin-bottom: 0rem;
}

.wrapper {
    max-width: 850px;
}

.profilepic {
    border: #255 0px solid
}

.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.greeting-message {
    padding-left: 20px;
    float: left;
    color: #828282;
  }

.item {
    margin-bottom: 2rem;
  }

.unfoldable {
    background-color: #f0f0f0;
    font-weight: 700;
    font-size: 12pt;
    padding: 0.5em;
}

.unfoldable:hover {
  cursor: pointer;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #808B96;
  margin-right: 5px;
  transition: transform 0.3s ease-out;
}

.triangle-rotate {
  transform: rotate(90deg);
}

.description-list {
    margin-top: 1em;
}

/* On mobile devices */
@media (max-width: 767px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}