<!DOCTYPE html>
<html>
  {% include head.html %}

  <head>
   <script src="https://kit.fontawesome.com/aa91375426.js" crossorigin="anonymous"></script>
  </head>

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="center-container">
          <img src="{{ page.profile_picture.src | absolute_url }}"
               alt="{{ page.profile_picture.alt }}"
               class="profile-pic"
          />
          <h2 style="margin: 0; font-weight: 700;">
            Hello World! I'm
            <span style="background: linear-gradient(45deg, #f14b46, #982e2c);
             -webkit-background-clip: text;
             color: transparent;
             ">Qi Yu.
            </span>
          </h2>
          <p class="page-heading" style="line-height: 1;"> Software Engineer @ GFT Technologies</p>
          <p class="typing" style="color: var(--highlight-color); font-size: 1.2em; font-weight: 700"></p>

          <p onclick="scrollToAbout()" class="read-more-btn">
            <span class="jumping-triangle"><i class="fa-solid fa-angle-down"></i></span>
          </p>

        </div>
      </div>
    </div>


    <div class="page-content" id="about" style="background-color: white">
      <div class="wrapper">
        <h2 class="page-heading">About Me</h2>
        <p class="text-block">
          I am a <b>software engineer</b> at <b><a href="https://www.gft.com/int/en" target="_blank">GFT Technologies</a></b> (since July 2024).<br>
          I'm based at <a href="https://www.gft.com/de/de/technology/gft-software-solutions" target="_blank">GFT Software Solutions</a> in Konstanz, located along the beautiful Rhine River. <br>

        <p class="text-block">Technologies and tools I use most frequently:</p>
        <p class="text-block">
          <img title="Python" alt="python" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
          <img title="Python" alt="python" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
          <img title="TypeScript" alt="typescript" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" />
          <img title="JavaScript" alt="javascript" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />


          <img title="Angular" alt="angular" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg" />
          <img title="HTML 5" alt="html5" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
          <img title="CSS 3" alt="css3" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />

          <img title="FastAPI" alt="fastapi" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/fastapi/fastapi-original.svg" />
          <img title="Flask" alt="flask" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg" />
          <img title="PostgreSQL" alt="postgresql" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
          <img title="Docker" alt="docker" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" />

          <img title="Git" alt="git" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" />
          <img title="Azure DevOps" alt="azuredevops" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azuredevops/azuredevops-original.svg" />
          <img title="Jira" alt="jira" class="techstack-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original.svg" />
        </p>
        {{ content }}
      </div>
    </div>

    <script>
      function scrollToAbout() {
          document.getElementById("about").scrollIntoView({ behavior: "smooth" });
      }
    </script>

    <script src="../assets/js/typewriter.js"></script>
    <script src="../assets/js/timeline.js"></script>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
