<!DOCTYPE html>
<html>
  {% include head.html %}

  <head>
   <script src="https://kit.fontawesome.com/aa91375426.js" crossorigin="anonymous"></script>
  </head>

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="container">
          <div class="profile-container">
            <img
              src="{{ page.profile_picture.src | absolute_url }}"
              alt="{{ page.profile_picture.alt }}"
              class="profile-pic"
            />
            <div class="greeting-message">
              <p style="margin-bottom: 0">Enthusiast of Software Development, </p>
              <p style="margin-bottom: 0">Doctoral Researcher in Natural Language Processing. </p>
              <h2><a href="https://github.com/qi-yu" target="_blank"><i class="fa-brands fa-github"></i></a> |  <a href="mailto:qi.yu@uni-konstanz.de"><i class="fa-solid fa-envelope"></i></a></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="wrapper" style="padding-top: 1.5rem">
        <h2 class="page-heading">ABOUT ME</h2>
        {{ content }}
        <hr>
      </div>

      <div class="wrapper">
        <h2 class="page-heading">READ MORE</h2>
        <div class="item">
          <span class="accordion">
            <span class="triangle"></span>
            <u>More about my background</u>
          </span>
          <div class="description">
            <p style="margin-bottom: 1.5em;">
              My interests nowadays is strongly situated in informatics. Yet, my path to this field has been rather untypical (or, as some people have said to me, "very untypical").
            </p>
            <p style="margin-bottom: 1.5em;">
              Earlier, I completed my bachelor's degree in Scandinavian Studies (Beijing Foreign Studies University, with a one-year state-funded exchange at the University of Southern Denmark).
              As it is very unusual to study Scandinavian Studies in China (also, this study program only accepts around 15 new students every four years), I was often asked why I made this choice.
              Honestly, this was not desired by me at all: I rather wished to study German linguistics due to my fascination with several rock/gothic bands from the German-speaking region at that time.
              But in the higher education system at my country, especially contrasted with the German one where I currently reside, there is extremely limited freedom to choose the field of study or switch the study program.
              Instead, the priority was to play safe and secure a study place at any of the prestigious universities - no matter for which subject - rather than to choose a subject that follows one's personal interests.
            </p>
            <p style="margin-bottom: 1.5em;">
              After my bachelor, I indeed moved to Germany to study linguistics. I received a master's degree in Speech and Language Processing (2019, with a focus on computational linguistics)
              and a master's degree in General Linguistics (2020, with a focus on formal semantics) from the University of Konstanz.
              While my huge passion for the German language still lasts until today (and keeps growing larger every day), it turned out at a later time that NLP / programming / software development fascinate me much more than German linguistics.
            </p>
            <p style="margin-bottom: 1.5em;">
              Why? I'd say that it comes from my personal preference for hands-on things.
              In my student life, I slowly found out that I prefer implementing tangible solutions, where I can see immediate results on whether it works or not.
              During my master's study, I worked quite a lot on formal methods for linguistics (formal semantics and formal pragmatics) - a very theoretical field.
              While theoretical linguistics is absolutely fascinating, I struggled quite a few times with the question
              "ok, now we have a formal model for phenomenon X, but how can we apply this to the real world?" <b><sup>1</sup></b>
            </p>
            <p style="margin-bottom: 1.5em;">
              (<b><sup>1</sup></b> A small, small disclaimer: this is not to be interpreted in the sense that I am anti-intellectual and against fundamental research.
              Instead, I firmly believe that the state-of-the-art NLP applications can benefit greatly from many well-studied phenomena in theoretical linguistics, which I will demonstrate in my upcoming dissertation.
              It's just a personal preference for applied research over fundamental research.
              Besides, formal methods is valuable, but <i>over-mathematization</i> - as sometimes occurs in research on formal methods - is nothing but pseudo-science.)
            </p>
          </div>
        </div>

        <div class="item">
          <span class="accordion">
            <span class="triangle"></span>
            <u>Some frequently asked questions</u>
          </span>
          <div class="description" style="display: none;">
            <p style="margin-bottom: 1.5em;">
              Q: How to pronounce your name (Qi)? <br>
              A: Like "chee" in "cheetah".
            </p>
            <p style="margin-bottom: 1.5em;">
              Q: Where are you from? <br>
              A: <a href="https://en.wikipedia.org/wiki/Hohhot" target="_blank">Hohhot</a> / hūhéhàotè / Хөх хот - somewhere at the Mongolian steppe.
            </p>
          </div>
        </div>
      </div>

    </div>

    <script src="../assets/js/accordion.js"></script>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
