<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
          <p><b><u>A Small Anecdote / Sidenote:</u></b></p>
          <p>Back to my time working in multidisciplinary settings, I occasionally received comments on my publications like: "Ah, so the paper is in a <i>conference proceeding</i>!" (AKA: "Ah, they are not <i>real</i> publications at all because they not in a <i>journal</i>!").<br>
          <p>However, this is not true. In the field of Natural Language Processing, it is standard practice to publish in conferences.</p>
          <hr>

        {% for category in page.categories %}
          <h1 class="page-heading"> {{ category.name }} </h1>

        {% for section in category.sections %}
        <div class="work">
          <!--h3 {{ section.year }}
          {{ section.desc }} -->

          <ul>
          {% for item in section.items %}
            <!-- li -->
              {{ item.authors }}.
              {{ item.year }}.
              {{ item.title }}.
              {% if item.inbook and item.inbook != ""%}
              <em>{{ item.inbook }}</em>.
              {% endif %}
              {% if item.workshop and item.workshop != ""%}
              {{ item.workshop }}.
              {% endif %}
              {% if item.note and item.note != ""%}
              {{ item.note }}.
              {% endif %}
              {% if item.pdf and item.pdf != "" and item.pdf != nil %}
                <a href="{{ item.pdf }}" target="_blank"><i class="fa-solid fa-file-pdf"  style="padding-right: 0.2rem"></i></a>
              {% endif %}
              {% if item.resource and item.resource != "" and item.resource != nil %}
                <a href="{{ item.resource }}" target="_blank"><i class="fa-brands fa-github"></i></a>
              {% endif %}
              {% if item.special and item.special != "" and item.special != nil %}
                <span class="special">{{ item.special }}</span>
              {% endif %}
            <br><!--br-->
            <!--/li-->
          {% endfor %} <!-- section.items -->
          </ul>

        </div>
        {% endfor %} <!-- page.sections -->
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>