<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">

        {% for category in page.categories %}
          <h1 class="page-heading"> {{ category.name }} </h1>

          <div style="color: #808B96; font-size: 0.8em">
              <p><b>A Small Anecdote / Sidenote:</b></p>
              <p>Back to my time working in multidisciplinary settings, I occasionally received comments on my publications like: "Ah, so the paper is in a <i>conference proceeding</i>!" (AKA: "Ah, they are not <i>real</i> publications at all because they not in a <i>journal</i>!").<br>
              <p>However, this is not true. In the field of Natural Language Processing, it is standard practice to publish in conferences.</p>
          </div>

        {% for section in category.sections %}
        <div class="work-item">
          <!--h3 {{ section.year }}
          {{ section.desc }} -->

          {% for item in section.items %}
            <div class="text-block">
              {{ item.authors }}.
              {{ item.year }}.
              {{ item.title }}.
              {% if item.inbook and item.inbook != ""%}
              <em>{{ item.inbook }}</em>.
              {% endif %}
              {% if item.workshop and item.workshop != ""%}
              {{ item.workshop }}.
              {% endif %}
              {% if item.note and item.note != ""%}
              {{ item.note }}.
              {% endif %}
              {% if item.special and item.special != "" and item.special != nil %}
                <span class="special">{{ item.special }}</span>
              {% endif %}
            </div>

              <strong style="color: #828282;">Resources: </strong>
              {% if item.pdf and item.pdf != "" and item.pdf != nil %}
                <a href="{{ item.pdf }}" target="_blank">
                    <img class="animated-icon" src="https://img.shields.io/badge/PDF-blue?logo=Database" alt="PDF" />
                </a>
              {% endif %}
              {% if item.resource and item.resource != "" and item.resource != nil %}
                <a href="{{ item.resource }}" target="_blank">
                    <img class="animated-icon" src="https://img.shields.io/badge/GitHub-blue?logo=GitHub&labelColor=grey" alt="GitHub" />
                </a>
              {% endif %}

          {% endfor %} <!-- section.items -->
        </div>
        {% endfor %} <!-- page.sections -->
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>