<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {% for category in page.categories %}
          {% if category.name == "PUBLICATIONS" %}
            <h1 class="page-heading"><i class="fa-solid fa-book" style="padding-right: 0.5rem"></i>{{ category.name }}</h1>
          {% endif %}
          {% if category.name == "TALKS AND POSTERS" %}
            <h1 class="page-heading"><i class="fa-solid fa-chalkboard" style="padding-right: 0.5rem"></i>{{ category.name }}</h1>
          {% endif %}
        {% for section in category.sections %}
        <div class="work">
          <!--h3 {{ section.year }}
          {{ section.desc }} -->

          <ul>
          {% for item in section.items %}
            <!-- li -->
              {{ item.authors }}.
              {{ item.year }}.
              {{ item.title }}.
              {% if item.inbook and item.inbook != ""%}
              <em>{{ item.inbook }}</em>.
              {% endif %}
              {% if item.workshop and item.workshop != ""%}
              {{ item.workshop }}.
              {% endif %}
              {% if item.note and item.note != ""%}
              {{ item.note }}.
              {% endif %}
              {% if item.pdf and item.pdf != "" and item.pdf != nil %}
                <a href="{{ item.pdf }}" target="_blank"><i class="fa-solid fa-file-pdf"  style="padding-right: 0.2rem"></i></a>
              {% endif %}
              {% if item.resource and item.resource != "" and item.resource != nil %}
                <a href="{{ item.resource }}" target="_blank"><i class="fa-solid fa-code"></i></a>
              {% endif %}
              {% if item.special and item.special != "" and item.special != nil %}
                <span class="special"><br>{{ item.special }}</span>
              {% endif %}
            <br><!--br-->
            <!--/li-->
          {% endfor %} <!-- section.items -->
          </ul>

        </div>
        {% endfor %} <!-- page.sections -->
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>