<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1 class="page-heading">{{ page.title }}</h1>
        <div class="work">
          <p style="margin-bottom: 0">During my instruction of various Python programming courses, I have developed my own materials for learning Python.</p>
          <p>View <b><a href="https://github.com/qi-yu/teaching-materials-python">here</a></b> for a collection of them.</p>

          {% for item in page.items %}
          <ul>
            <span class="headspan">{{ item.title }}<br></span>
            {{ item.description }}
          </ul>
          {% endfor %} <!-- page.items -->

        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
