<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1 class="page-heading">{{ page.title }}</h1>
        <div class="work">

          <p>A collection of <b>Python programming learning materials</b> developed by me can be found <a href="https://github.com/qi-yu/teaching-materials-python">here</a>.</p>

          {% for item in page.items %}
          <ul>
            <span class="headspan">{{ item.title }}<br></span>
            {{ item.description }}
          </ul>
          {% endfor %} <!-- page.items -->

        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
